@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');



body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img, picture, video, canvas, svg {
  display: block;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
	margin-bottom: 0;
	margin-top: 0;
}
ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
button {
  cursor: pointer;
  padding: 0;
  border: none;
}